<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gprint" version="0.0.29" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Gprinter</name>
  <description>Cordova Gprinter(Bluetooth-printer) Plugin</description>
  <author>BEN</author>
  <license>Apache 2.0 License</license>
  <dependency id="cordova-plugin-bluetoothle" version="4.2.1" />
  <js-module name="Gprinter" src="www/Gprinter.js">
    <clobbers target="gprinter" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Gprinter">
        <param name="android-package" value="cordova.plugin.gprint.Gprinter" />
      </feature>
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <service android:name="com.gprinter.service.GpPrintService" android:enabled="true" android:exported="true" android:label="GpPrintService">
        <intent-filter>
          <action android:name="com.gprinter.aidl.GpPrintService" />
        </intent-filter>
      </service>
      <service android:name="com.gprinter.service.AllService">
      </service>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.hardware.usb.accessory" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
      <uses-permission android:name="android.permission.GET_TASKS" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
      <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WRITE_SETTINGS" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-feature android:name="android.hardware.usb.host" />
    </config-file>
    <source-file src="src/android/Gprinter.java" target-dir="src/cordova/plugin/gprint" />
    <source-file src="src/android/libs/gprintersdkv22.jar" target-dir="libs" />
    <source-file src="src/android/libs/xUtils-2.6.14.jar" target-dir="libs" />
    <source-file src="src/android/jni/armeabi/libgpequipment.so" target-dir="libs/armeabi/" />
    <source-file src="src/android/jni/armeabi-v7a/libgpequipment.so" target-dir="libs/armeabi-v7a/" />
    <source-file src="src/android/jni/x86/libgpequipment.so" target-dir="libs/x86/" />
    <source-file src="src/android/aidl/GpService.aidl" target-dir="src/com/gprinter/aidl" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Gprinter">
        <param name="ios-package" value="Gprinter" />
      </feature>
    </config-file>
    <header-file src="src/ios/include/BLKWrite.h" />
    <header-file src="src/ios/include/CBController.h" />
    <header-file src="src/ios/include/DeviceInfo.h" />
    <header-file src="src/ios/include/EscCommand.h" />
    <header-file src="src/ios/include/MyPeripheral.h" />
    <header-file src="src/ios/include/TscCommand.h" />
    <header-file src="src/ios/include/ReliableBurstData.h" />
    <header-file src="src/ios/Gprinter.h" />
    <source-file src="src/ios/Gprinter.m" />
    <source-file src="src/ios/libGSDK.a" framework="true" />
  </platform>
</plugin>