<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gprint" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Gprinter</name>
    <DESCRIPTION>Cordova Gprinter(Bluetooth-printer) Plugin</DESCRIPTION>
    <js-module name="Gprinter" src="www/Gprinter.js">
        <clobbers target="window.Gprinter" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Gprinter">
                <param name="android-package" value="cordova-plugin-gprint.Gprinter" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/Gprinter.java" target-dir="src/cordova-plugin-gprint/Gprinter" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Gprinter">
                <param name="ios-package" value="Gprinter" />
            </feature>
        </config-file>
        <source-file src="src/ios/Gprinter.m" />
    </platform>
</plugin>